/* 
    Document   : default
    Created on : Jul 3, 2014, 3:43:34 PM
    Author     : mvuchev
    Description:
        Purpose of the stylesheet follows.
*/

#BorderLayout1 {
	margin: 1em auto 0px;
}
.sapUiLbl {
	margin: 0px 3px;
}
#mapcontainer {
	height: 100%;
}
#BorderLayoutAreaBegin {
	width: 300px;
}

.dataTemplateIcon {
	vertical-align: middle;
}